#footer.clear
  %ul
    %li
      %h3 General
    %li &nbsp;
    %li= link_to "Home", "/"
    %li= link_to "Careers", "/"
    %li= link_to "Our Artists", "/"
    %li= link_to "Contact Us", "/"
    %li= link_to "Site Map", "/"
    %li= link_to "Links", "/"
    %li= link_to "About Paradise Galleries", "/"
    

  
  %ul
    %li 
      %h3 Community
    %li &nbsp;
    %li= link_to "Shop Now", "/"
    %li= link_to "My Account", "/"
    %li= link_to "Contests", "/"
    %li= link_to "Doll Care", "/"
    %li= link_to "FAQs", "/"
    %li= link_to "eNewsletter Sign-up", "/"

  #contact-details
    = image_tag ("leafnode/logo2.gif")
    %p.abbreviated 1-800-67-DOLLS
    %p.number-form (1-800-673-6557)
    
  #footer-text
    %p Copyright 2009 Paradise Galleries is a part of the Charisma Family of Companies. All rights reserved.
    %p
      = link_to "Terms and Conditions", "/"
      |
      = link_to "Privacy Policy", "/"
    %p 
      For more great dolls, visit 
      = link_to "www.charismabrands.com", "/"
    
      
  
    
    
  