
#content.clear
  #baby-products
    #baby-banner-ad
      = link_to image_tag ("leafnode/baby-banner-ad.jpg"), "/"
  
    #product-line
      %ul.clear
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
            
      %ul.clear
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
    
    #featured-dolls
      %p You'll also like...
      
      %ul.clear
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
        %li
          %a{:href => "/"}
            = image_tag("")
            %p Doll Name $Price
      
  #bottom-banner-ad
    = link_to image_tag("leafnode/bottom-banner.gif"), "/"