
= content_for(:head) do
  %title Experts on Air
  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "clear"
  = stylesheet_link_tag "experts/main"

#container

  = render :partial => "projects/experts/header"
  /= render :partial => "projects/experts/menu"
  
  #main.clear
    = render :partial => "projects/experts/beta_signup"
    /= render :partial => "projects/mastermover/sidebar"
    /= render :partial => "projects/mastermover/content"
  
  /= render :partial => "projects/mastermover/footer"