#content
  #top-stories.clear
    %h2 Top Stories
    
    %ul
      %li
        %a{:href => "/"}
          %span.top-image= image_tag('/images/sample_images/coalplant.png')
          %span.top-headline Headline One Here
      %li
        %a{:href => "/"}
          %span.top-image= image_tag('/images/sample_images/coalplant.png')
          %span.top-headline Headline Two Here
      %li
        %a{:href => "/"}
          %span.top-image= image_tag('/images/sample_images/coalplant.png')
          %span.top-headline Headline Three Here
      %li
        %a{:href => "/"}
          %span.top-image= image_tag('/images/sample_images/coalplant.png')
          %span.top-headline Headline Last One Here 
        
  #latest-news
    %h2 Latest News
    
    .news-item.clear
      %h3.news-title= link_to "this is a title", "/"
      .news-details
        
        .news-image= image_tag('/images/sample_images/coalplant.png')
        
        .full-date 
          %span.month Dec
          %span.date 25
          %span.year 2008
          %span.day Thursday
          
        .news-views Page Views: 1,486
                
        .news-tags
          Tags:
          %ul
            %li= link_to "Politics,", '/'
            %li= link_to "Geography,", '/'
            %li= link_to "Violence", '/'

        .news-comments
          = link_to "Comments(0)", '/'
        
      .news-content 
        %p MTV tacked on a $500 stocking stuffer to the final paychecks of those charity bloggers it was avoiding paying. Could it be the raunchy Viacom network believes in God? Or at least karma?
        %p Ut lacus velit, consectetur vel, luctus eget, tempor id, nisl. Donec elit. Sed iaculis. Praesent commodo. Vestibulum sit amet ante vitae sapien ultrices egestas. Sed imperdiet mauris. Pellentesque viverra molestie nisi. Aliquam erat volutpat. Sed risus leo; placerat vitae, tempus sed, mollis non, elit. Etiam justo libero, venenatis eget, pretium pharetra, eleifend sed, diam. Vestibulum interdum elit a lectus. Donec vel urna a felis cursus feugiat.
        .read-more= link_to "Read more &gt;&gt;", "/"
      
    .banner-ad banner ad here

    .news-item.clear
      %h3.news-title= link_to "this is a title", "/"
      .news-details
        
        .news-image= image_tag('/images/sample_images/coalplant.png')
        
        .full-date 
          %span.month Dec
          %span.date 25
          %span.year 2008
          %span.day Thursday
          
        .news-views Page Views: 1,486
                
        .news-tags
          Tags:
          %ul
            %li= link_to "Politics,", '/'
            %li= link_to "Geography,", '/'
            %li= link_to "Violence", '/'

        .news-comments
          = link_to "Comments(0)", '/'
        
      .news-content 
        %p MTV tacked on a $500 stocking stuffer to the final paychecks of those charity bloggers it was avoiding paying. Could it be the raunchy Viacom network believes in God? Or at least karma?
        %p Ut lacus velit, consectetur vel, luctus eget, tempor id, nisl. Donec elit. Sed iaculis. Praesent commodo. Vestibulum sit amet ante vitae sapien ultrices egestas. Sed imperdiet mauris. Pellentesque viverra molestie nisi. Aliquam erat volutpat. Sed risus leo; placerat vitae, tempus sed, mollis non, elit. Etiam justo libero, venenatis eget, pretium pharetra, eleifend sed, diam. Vestibulum interdum elit a lectus. Donec vel urna a felis cursus feugiat.
        .read-more= link_to "Read more &gt;&gt;", "/"
        
    .banner-ad banner ad here

    .news-item.clear
      %h3.news-title= link_to "this is a title", "/"
      .news-details
        
        .news-image= image_tag('/images/sample_images/coalplant.png')
        
        .full-date 
          %span.month Dec
          %span.date 25
          %span.year 2008
          %span.day Thursday
          
        .news-views Page Views: 1,486
                
        .news-tags
          Tags:
          %ul
            %li= link_to "Politics,", '/'
            %li= link_to "Geography,", '/'
            %li= link_to "Violence", '/'

        .news-comments
          = link_to "Comments(0)", '/'
        
      .news-content 
        %p MTV tacked on a $500 stocking stuffer to the final paychecks of those charity bloggers it was avoiding paying. Could it be the raunchy Viacom network believes in God? Or at least karma?
        %p Ut lacus velit, consectetur vel, luctus eget, tempor id, nisl. Donec elit. Sed iaculis. Praesent commodo. Vestibulum sit amet ante vitae sapien ultrices egestas. Sed imperdiet mauris. Pellentesque viverra molestie nisi. Aliquam erat volutpat. Sed risus leo; placerat vitae, tempus sed, mollis non, elit. Etiam justo libero, venenatis eget, pretium pharetra, eleifend sed, diam. Vestibulum interdum elit a lectus. Donec vel urna a felis cursus feugiat.
        .read-more= link_to "Read more &gt;&gt;", "/"
        
    .news-item.clear
      %h3.news-title= link_to "this is a title", "/"
      .news-details
        
        .news-image= image_tag('/images/sample_images/coalplant.png')
        
        .full-date 
          %span.month Dec
          %span.date 25
          %span.year 2008
          %span.day Thursday
          
        .news-views Page Views: 1,486
                
        .news-tags
          Tags:
          %ul
            %li= link_to "Politics,", '/'
            %li= link_to "Geography,", '/'
            %li= link_to "Violence", '/'

        .news-comments
          = link_to "Comments(0)", '/'
        
      .news-content 
        %p MTV tacked on a $500 stocking stuffer to the final paychecks of those charity bloggers it was avoiding paying. Could it be the raunchy Viacom network believes in God? Or at least karma?
        %p Ut lacus velit, consectetur vel, luctus eget, tempor id, nisl. Donec elit. Sed iaculis. Praesent commodo. Vestibulum sit amet ante vitae sapien ultrices egestas. Sed imperdiet mauris. Pellentesque viverra molestie nisi. Aliquam erat volutpat. Sed risus leo; placerat vitae, tempus sed, mollis non, elit. Etiam justo libero, venenatis eget, pretium pharetra, eleifend sed, diam. Vestibulum interdum elit a lectus. Donec vel urna a felis cursus feugiat.
        .read-more= link_to "Read more &gt;&gt;", "/"
    
    
    %ul#pagination
      %li= link_to "1", "/"
      %li= link_to "2", "/"
      %li= link_to "3", "/"
      %li= link_to "4", "/"
      %li= link_to "5", "/"
      %li= link_to "More news", "/"
      
