#business-profile.main.inner-container
  = render :partial => "projects/farora/result_description"
  
  .main-content
    %h1 
      Boston Salon n Spa
      %span.salon-address
        333 Mission Hill Main St. Boston, MA - 2728
  
    .ratings
      %form
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
        %input.star{:name => "star1", :type => "radio"}/
      
      %span
        (
        = link_to "2", "#"
        )
      
      %span
        = link_to "Review Salon", "#"
        |
        = link_to "Review Stylist", "#"
      
    
      / AddThis Button BEGIN
      .addthis_toolbox.addthis_default_style
        %a.addthis_button_tweet
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        %a.addthis_button_email{:href => "http://www.addthis.com/bookmark.php"}
          %img{:alt => "Email", :border => "0", :height => "16", :src => "http://s7.addthis.com/button1-email.gif", :width => "54"}/
        %a{:href => "/", :class => "favorites-link empty-favorite"}
          heart
      :javascript
        var addthis_config = {"data_track_clickback":true};
      %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d89697904d86376", :type => "text/javascript"}
      / AddThis Button END
    
    .salon-images
      = image_tag("farora/salon-image.jpg")
      %ul.thumbs
        %li= image_tag("farora/salon-image-thumb.jpg")
        %li= image_tag("farora/salon-image-thumb.jpg")
        %li= image_tag("farora/salon-image-thumb.jpg")
        %li= image_tag("farora/salon-image-thumb.jpg")
        %li= image_tag("farora/salon-image-thumb.jpg")
  
    = render :partial => "projects/farora/tabs"
            
  .search-sidebar
    %p.commit
      %input{:class => "submit", :value => "Book now", :type => "submit"}
        