#credit.main.inner-container
  %h2 Share Farora, Earn Credit!
  
  %p
    Get $5 in Farora Credit for each invited friend that completes their first online booking.  Use your credit towards your next salon/spa appointment booked through Farora.
    
  %form.message-form
    %fieldset
      %p Send your friends a trackable invitation code right to their email.
      %ul
        %li
          %label From:
          %input{:type => "text", :value => "Marissa Oge"}
        %li
          %label To:
          %textarea{:rows => 2, :cols => 50}
          %p.reminder
            (use commas to separate emails)
        %li
          %label Message:
          %textarea{:rows => 2, :cols => 50}
          %p.reminder#character-count
            Characters left: 184
        %li.commit
          %input{:type => "submit", :class => "submit", :value => "Submit"}
          
  .sub-content
    .farora-credits
      %h3 
        You have $20 in Farora Credit.
        %span= link_to "How do I use my credit?", "/"
        
    %p
      To invite friends from your address book
      = link_to "click here", "/"

    .import-address-books
      = image_tag("farora/import.jpg", :title => "aol, gmail, plaxo, yahoo, outlook", :alt => "aol, gmail, plaxo, yahoo, outlook", :width => 400)
      
    %p 
      Your Invite Link: Copy and Paste it into your Email, Facebook, Tweet, and more!
    
    .trackable-code
      %ul
        %li
          %input{:type => "text", :readonly => true, :value => "http://www.farora.com/invite/enriqueflorendo"}
        %li
          %input{:type => "submit", :class => "submit", :value => "Search"}
      
      %ul.share-links
        %li= link_to image_tag("farora/fb-icon.jpg") + "Share on Facebook", "http://www.facebook.com/pages/Farora/177253782311505"
        %li= link_to image_tag("farora/twitter-icon.jpg") + "Tweet Invite", "http://twitter.com/Faroratweet"