#footer
  %ul
    %li
      %ul
        %li
          %h4 Info
        %li= link_to "About Us", "/"
        %li= link_to "User Agreement", "/"
        %li= link_to "FAQs", "/"
        %li= link_to "Contact Us", "/"
    %li
      %ul
        %li
          %h4 Friend us
        %li= link_to "Facebook", "/"
        %li= link_to "Twitter", "/"
    %li
      %ul
        %li
          %h4 Business Members
        %li= link_to 'Salon & Spa Login', "/"
        %li= link_to "Business Owner Sign Up", "/"
        %li= link_to "Business Agreement", "/"
    %li
      %ul
        %li
          %h4 Farora Community
        %li= link_to "View Cities", "/"
        %li= link_to "View Salon/Spa List", "/"