#nav
  %ul
    %li
      %a.sign-in-link
        %strong sign in
        or
      [
      %em= link_to "sign up", "/", :class => "sign-up-link"
      ]
    %li
      = link_to "account", "/"
    %li
      = link_to "+ invite friends", "/", :class => "invite-friends-link"
    %li= link_to "my fav's", "/", :class => "favorites-link"
    %li= link_to "help", "/help"
    %li
      %em= link_to "search", "/search"