#results-main.main
  %ul.filters
    %li
      %label State
      %select 
        %option{:selected => :true} Massachussetts
    %li
      %label City/Town
      %select
        %option{:selected => :true} Boston

  %ul.results
    %li
      %p
        %b A
      %ul
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
    %li
      %p
        %b A
      %ul
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
    %li
      %p
        %b A
      %ul
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
    %li
      %p
        %b A
      %ul
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
        %li 
          = link_to "Advent Salon", "/", :class => "salon-link"
          %span.salon-address 1330 Boylston St.
