.main.inner-container
  = render :partial => "projects/farora/result_description"

  %h1
    Search Results
  
  %ul.filters
    %li
      %label Sort By
      %select
        %option{:selected => true} Best Match
    %li
      %label Filter By
      %select
        %option{:selected => true} All Neighborhoods

        
  %ul.result-grid
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
    %li
      = image_tag("farora/results-image.jpg")
      .result-overlay
        %p
          %strong 
            Salon Marc Harris 
            %br
            Newbury St.
        %p.rating-count
          Rating Stars (
          = link_to "22", "#"
          )
        %p
          Back Bay
          %br
          113 Newbury St. Boston, MA
          
  = render :partial => "projects/farora/pagination"