#quick-links
  %ul.inner-container
    %li
      = link_to "My Businesses", "#"
    %li
      = link_to "Boston Salon n Spa", "#"
    %li
      = link_to "Calendar", "#"
    %li
      = link_to "Staff", "#"
    %li.current
      = link_to "Clients", "#"
    %li
      = link_to "Check-in/Checkout", "#"
    %li
      = link_to "Reports", "#"
    %li
      = link_to "Mail", "#"
