= content_for(:head) do
  %title Farora.com 
  = stylesheet_link_tag 'compiled/farora/main.css', :media => 'screen, projection'
  = stylesheet_link_tag 'compiled/print.css', :media => 'print'
  /[if lt IE 8]
    = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  = stylesheet_link_tag 'dark-hive/jquery-ui-1.8.9.custom.css', :media => 'screen, projection'
  = stylesheet_link_tag 'compiled/farora/jquery-ui-timepicker.css', :media => 'screen, projection'
  
  = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.9.custom.min', 'jquery.timepicker',  'farora'

#container
  = render :partial => "projects/farora/header"
  
  = render :partial => "projects/farora/login_page"
  / #main-right.clear
  /   /= render :partial => "projects/farora/sub_content"
  /   = render :partial => "projects/farora/content"
  /   = render :partial => "projects/farora/sidebar"
  
  = render :partial => "projects/farora/footer"