#sidebar
  #login-details
    %h4 Login
    - form_for "login" do |f| 
      = f.text_field :login, :class => "textfield", :value => "USERNAME"
      = f.password_field :password, :class => "textfield", :value => "PASSWORD"
      = f.submit "Login", :class => "submit"
    .signup= link_to "New? Register now!", "/"
  
  //shows up only when needed
  #logged-in
    %h4 My Links
    %ul
      %li= link_to "My Profile", "/"
      %li= link_to "Mini-site", "/"
      
  //rss feed icon
  #feed-link
    = link_to "#{image_tag('emissionshub/feed-icon.png')} Subscribe", "/"

  #skyscraper-ad
    = link_to "#{image_tag('biofuelshub/ad.png')}", "/"
  
  //sister sites here
  #sister-sites
    %h3 Sister sites:
    %ul
      %li.sister logo here
      %li.sister logo here
      %li.sister logo here
    
  //ads here
  #media-partners
    %h3 Media partners:
    %ul
      %li.partner ad here
      %li.partner ad here
      %li.partner ad here
      %li.partner ad here
      %li.partner ad here
      %li.partner ad here
      %li.partner ad here
    