#about
  %h2 About Aid Worker IQ
  
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus justo, elementum a sollicitudin at, tempor ut lacus. In sit amet mauris mauris. Suspendisse potenti. In imperdiet mi ut velit pretium fermentum. Vivamus non neque dolor, ac lobortis risus. Phasellus lobortis justo quis urna imperdiet vel accumsan arcu egestas. Aenean semper congue libero, vel porta est auctor quis. Donec tempus feugiat mollis. Integer tempor nisl erat, et porta enim. Nam condimentum congue libero, non tristique tortor cursus a. Aenean dignissim, tellus nec sollicitudin malesuada, purus nulla ornare lectus, eu condimentum est libero eu justo. Aenean imperdiet nibh at mi tristique ullamcorper at sed felis. Curabitur egestas hendrerit congue. Duis commodo lectus ac ipsum pretiu
  
  %p icitudin malesuada, purus nulla ornare lectus, eu condimentum est libero eu justo. Aenean imperdiet nibh at mi tristique ullamcorper at sed felis. Curabitur egestas hendrerit congue. Duis commodo lectus ac ipsum pretiu
  
  %a{:name => "pins"}
  %h2 Pins
  
  %table.pin-table
    %tr.heading
      %th{:width => "60"} Pin
      %th{:width => "40"} Requirements
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Welcome Pin
      %td Completion of any two quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong You're a Regular Pin
      %td Completion of at least 1 quiz for 7 consecutive days
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Mid-Level Pin
      %td Completion of any 15 quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Expert Pin
      %td Completion of any 50 quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Enthusiast Pin
      %td Completion of 5 quizzes in 1 day
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Genius Pin
      %td Score of 100% on any 10 quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Devex Pin
      %td Completion of 5 Devex Challenge Quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong World Traveler Pin
      %td Completion of at least 1 quiz focused on each of the 7 continents
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Development Pin
      %td Theory of Development Quiz, Development Agency Quiz, History of Development Quiz
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Drink-Up Pin
      %td Human Power Quiz, Solar Power Quiz, Wind Power Quiz, Fuel Focused Quiz
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Power-Up Pin
      %td Score 100% on any 10 quizzes
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong ABC Pin
      %td Early Education Methods Quiz, Women in Education Quiz, Higher Education Quiz
    %tr
      %td
        = image_tag("/images/idq/placeholder_sample-pin.png")
        %strong Show Me the Money Pin
      %td Financing Development Quiz, Micro-finance Methods Quiz, Finances of the Poor Quiz
      
  %a{:name => "levels-of-play"}
  %h2 Levels of Play
  
  %table.pin-table
    %tr.heading
      %th Rank
      %th.centered Points
      %th.centered Pins
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
    %tr
      %td= image_tag("/images/idq/placeholder_sample-rank-icon.png")
      %td.centered 10
      %td.centered 2
      
  %a{:name => "faq"}
  %h2 Frequently Asked Questions
  
  %ol.faq
    %li 
      %strong How many times can I take a quiz?
      %p You may take a quiz only once.
    %li 
      %strong Why won't IDC allow me to challenge a friend?
      %p There are two possible reasons. You are only allowed to challenge three friends per day so it is possible you have reached your quota. Also,  you are only allowed to challenge a friend with a quiz you ave already completed!
    %li 
      %strong How are points assigned?
      %p Points are assigned based on how well you scored on a quiz. For example, if you score 20% on a quiz, you would receive 1 our of 5 possible points.
    %li 
      %strong Are pins scored?
      %p No, earning a pin is based on your completion of specific quizzes, not your score.
      
