%h2 ID Challengers Worldwide

%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere, lacus a vehicula dapibus, justo mauris facilisis risus, eget eleifend orci ante id leo. Sed cursus pellentesque mauris, suscipit volutpat leo ornare nec. Aliquam iaculis fringilla tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce pharetra venenatis lectus, at porttitor lorem euismod ac.

#map
  this is a placeholder for the map
  
%h2 Recent Activity

%p
  = link_to "Login", "/"
  to see your network's recent activity and post comments.
  
%ul.bordered
  %li
    = image_tag "/images/idq/avatar.gif", :alt => "first name last name", :title => "first name last name", :class => "avatar"
    %p.activity
      = link_to "John S.", "/"
      scored 90% on the 
      = link_to "Water Sanitation Quiz"
      %br
      %span.time-ago 15 minutes ago
  %li
    = image_tag "/images/idq/avatar.gif", :alt => "first name last name", :title => "first name last name", :class => "avatar"
    %p.activity
      = link_to "Martha K.", "/"
      earned the Power Up pin by taking the 
      = link_to "Renewable Energy Sanitation Quiz"
      %br
      %span.time-ago 2 hours ago
  %li
    = image_tag "/images/idq/avatar.gif", :alt => "first name last name", :title => "first name last name", :class => "avatar"
    %p.activity
      = link_to "John S.", "/"
      scored 90% on the 
      = link_to "Water Sanitation Quiz"
      %br
      %span.time-ago 15 minutes ago
          
  %li
    = image_tag "/images/idq/avatar.gif", :alt => "first name last name", :title => "first name last name", :class => "avatar"
    %p.activity
      = link_to "John S.", "/"
      scored 90% on the 
      = link_to "Water Sanitation Quiz"
      %br
      %span.time-ago 15 minutes ago