#quiz-landing
  %h2 Recommended Quizzes
        
  %ul.quiz-list-result
    %li
      %p.quiz-photo= image_tag("/images/idq/placeholder_quiz-photo.jpg")
      %strong
        = link_to "John Smith", "/", :class => "challenger"
        has challenged you to
        = link_to "Africa Developer", "/", :class => "challenge-quiz"
      %ul.inline-bullet-list
        %li 5 points
        %li Pins: World Traveller, Africa Expert
      %p.quiz-description Lorem ipsum
      %ul.minor-detail-list 
        %li
          By 
          = link_to "Devex", "/" 
        %li Released 26 July 2010
        %li Taken by 213 people
      %p 
        = link_to "Take quiz", "/", :class => "button-link"
        = link_to "Challenge A Friend", "/", :class => "button-link"
        
    %li
      %p.quiz-photo= image_tag("/images/idq/placeholder_quiz-photo.jpg")
      %strong
        = link_to "John Smith", "/", :class => "challenger"
        has challenged you to
        = link_to "Africa Developer", "/", :class => "challenge-quiz"
      %ul.inline-bullet-list
      %ul.inline-bullet-list
        %li 5 points
        %li Pins: World Traveller, Africa Expert
      %p.quiz-description Lorem ipsum
      %ul.minor-detail-list 
        %li
          By 
          = link_to "Devex", "/" 
        %li Released 26 July 2010
        %li Taken by 213 people
      %p 
        = link_to "Take quiz", "/", :class => "button-link"
        = link_to "Challenge A Friend", "/", :class => "button-link"

    %li
      %p.quiz-photo= image_tag("/images/idq/placeholder_quiz-photo.jpg")
      %strong
        = link_to "John Smith", "/", :class => "challenger"
        has challenged you to
        = link_to "Africa Developer", "/", :class => "challenge-quiz"
      %ul.inline-bullet-list
      %ul.inline-bullet-list
        %li 5 points
        %li Pins: World Traveller, Africa Expert
      %p.quiz-description Lorem ipsum
      %ul.minor-detail-list 
        %li
          By 
          = link_to "Devex", "/" 
        %li Released 26 July 2010
        %li Taken by 213 people
      %p 
        = link_to "Take quiz", "/", :class => "button-link"
        = link_to "Challenge A Friend", "/", :class => "button-link"

    %li
      %p.quiz-photo= image_tag("/images/idq/placeholder_quiz-photo.jpg")
      %strong
        = link_to "John Smith", "/", :class => "challenger"
        has challenged you to
        = link_to "Africa Developer", "/", :class => "challenge-quiz"
      %ul.inline-bullet-list
      %ul.inline-bullet-list
        %li 5 points
        %li Pins: World Traveller, Africa Expert
      %p.quiz-description Lorem ipsum
      %ul.minor-detail-list 
        %li
          By 
          = link_to "Devex", "/" 
        %li Released 26 July 2010
        %li Taken by 213 people
      %p 
        = link_to "Take quiz", "/", :class => "button-link"
        = link_to "Challenge A Friend", "/", :class => "button-link"
        
        
  .pagination-section
    .pagination
      %span.disabled.prev_page « Previous
      %span.current 1
      = link_to "2", "/"
      = link_to "3", "/"
      %span.gap ...
      = link_to "20", "/"
      = link_to "Next »", "/", :class => "next_page"
