
#sub-content
  #browse-filters
    %h3 Browse
    
    %ul.link-list
      %li
        %strong By Topic
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
    %p.section-footer= link_to "View all topics", "/"

    %ul.link-list
      %li
        %strong By Region
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"

    %ul.link-list
      %li
        %strong By Pins
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      
    %ul.link-list
      %li
        %strong By Creator
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"
      %li= link_to "Loerm aksdakd", "/"

  
  / #time-left.quiz-sub-box
  /     %h4 Time Left
  /     %p
  /       %span.time 05:00
  /       %span.time-unit min
  /       %br
  /       %span= link_to "Start quiz now!", "/", :id => "start-quiz"
  / 
  /   #time-left.quiz-sub-box
  /     %h4 Time Left
  /     %p.started
  /       %span.time 04:56
  /       %span.time-unit min
  /       
  /   .quiz-sub-box
  /     %h4 Quiz Results
  /     %ul.results
  /       %li
  /         %p.passed Great job!
  /         %p
  /           You answered
  /           %strong 4 out of 5
  /           questions correctly
  /       %li
  /         %p
  /           You earned a 
  /           %strong Power Up pin
  /       %li
  /         %p
  /           %strong Your overall statistics:
  /         %ul.quiz-stats
  /           %li Devex Rookie
  /           %li 50 Points
  /           %li 1 Pin
  /       %li
  /         %p
  /           = link_to "Share my results"
  / 
  /   %ul.action-links
  /     %li
  /       = link_to "Challenge a friend", "#lightbox", :id => "challenge-friend"
  /     %li
  /       = link_to "View all quizzes", "/"
  / 
  /   %h5 News Briefing
  / 
  /   %ul
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     %li=link_to "Top story of the Week: Europe's Foreign Policy Takes Shape", "#"
  /     
  /   %p.section-footer
  /     =link_to "View more news", "#"