#menu
  %ul
    %li= link_to "Home", '/'
    %li
      %h2= link_to "Products", '/'
      %ul
        %li= link_to "Master Tug", "http://www.mastermover.com/pages/uk/mastertug.php?id=23"
        %li= link_to "Master Pusher", "http://www.mastermover.com/pages/uk/masterpusher.php?id=20"
        %li= link_to "SmartMover Plus", "http://www.mastermover.com/pages/uk/smartmoverplus.php?id=39"
        %li= link_to "Master Tow", "http://www.mastermover.com/pages/uk/mastertow.php?id=19"
        %li= link_to "Master Handler", "http://www.mastermover.com/pages/uk/masterhandler.php?id=18"
        %li= link_to "Trailer Moving System", "http://www.mastermover.com/pages/uk/mastertrailermover.php?id=34"
        %li= link_to "SmartMover RCM", "http://www.mastermover.com/pages/uk/smartmoverrcm.php?id=37"
        %li= link_to "Master Tug RCM", "http://www.mastermover.com/pages/uk/mastertugrcm.php?id=32"
        %li= link_to "Master Tidy bag", "http://www.mastermover.com/pages/uk/mastertidybag.php"
        %li= link_to "Bespoke Design", "http://www.mastermover.com/uk/bespoke/"
      
    %li
      %h2= link_to "Application Solutions", '/'
      %ul
        %li
          = link_to "Manufacturing & Assembly", "http://www.mastermover.com/uk/manufacturing_assembly/"
          %ul
            %li= link_to "Automotive", "http://www.mastermover.com/uk/manufacturing_assembly_automotive"
            %li= link_to "Aerospace", "http://www.mastermover.com/uk/manufacturing_assembly_aerospace"
            %li= link_to "Brick and ceramic", "http://www.mastermover.com/uk/manufacturing_assembly_brick"
            %li= link_to "Boat building", "http://www.mastermover.com/uk/manufacturing_assembly_boat_building"
            %li= link_to "Cable and wire", "http://www.mastermover.com/uk/manufacturing_assembly_cable_wire"
            %li= link_to "Chemical", "http://www.mastermover.com/uk/manufacturing_assembly_chemical"
            %li= link_to "Commercial vehicle", "http://www.mastermover.com/uk/manufacturing_assembly_commercial_vehicle"
            %li= link_to "Construction equipment", "http://www.mastermover.com/uk/manufacturing_assembly_construction_equipment"
            %li= link_to "Engines, pumps and generators", "http://www.mastermover.com/uk/manufacturing_assembly_engines_pumps_generators"
            %li= link_to "Glass", "http://www.mastermover.com/uk/manufacturing_assembly_glass"
            %li= link_to "Metal and Plastic Extrusion", "http://www.mastermover.com/uk/manufacturing_assembly_metal_plastic_extrusion"
            %li= link_to "Paper", "http://www.mastermover.com/uk/manufacturing_assembly_paper"
            %li= link_to "Steel fabrication", "http://www.mastermover.com/uk/manufacturing_assembly_steel_fabrication"
            %li= link_to "Textiles", "http://www.mastermover.com/uk/manufacturing_assembly_textile"
            %li= link_to "Trains", "http://www.mastermover.com/uk/manufacturing_assembly_trains"
            %li= link_to "Wind Turbines", "http://www.mastermover.com/uk/manufacturing_assembly_wind_turbines"
            
        %li= link_to "Retail &amp; Logistics", "http://www.mastermover.com/uk/retail_logistics/"
        %li= link_to "Food &amp; Beverage", "http://www.mastermover.com/uk/food_beverage/"
        %li= link_to "Healthcare", "http://www.mastermover.com/uk/healthcare/"
        %li= link_to "Warehouse &amp; Storage", "http://www.mastermover.com/uk/warehouse_storage/"
        %li= link_to "Pharmaceutical", "http://www.mastermover.com/uk/pharmaceutical/"
        %li= link_to "Airport", "http://www.mastermover.com/uk/airport/"

    %li= link_to "Service &amp; Support", '/'
    %li
      %h2= link_to "Case Studies", '/'
      %ul
        %li
          = link_to "Manufacturing and Assembly", "http://www.mastermover.com/uk/casestudy/manufacturing_assembly/"
          %ul
            %li= link_to "Automotive", "http://www.mastermover.com/uk/casestudy/automotive/"
            %li= link_to "Boat Building", "http://www.mastermover.com/uk/casestudy/boatbuilding/"
            %li= link_to "Brick and Ceramics", "http://www.mastermover.com/uk/casestudy/brick/"
            %li= link_to "Commercial vehicle", "http://www.mastermover.com/uk/casestudy/commercialvehicle/"
            %li= link_to "Glass", "http://www.mastermover.com/uk/casestudy/glass/"
            %li= link_to "Metal and Plastic Extrusion", "http://www.mastermover.com/uk/casestudy/metalplasticextrusion/"
            %li= link_to "Specialist Handling", "http://www.mastermover.com/uk/casestudy/specialisthandling/"
            %li= link_to "Steel Fabrication", "http://www.mastermover.com/uk/casestudy/steelfabrication/"
            %li= link_to "Textile", "http://www.mastermover.com/uk/casestudy/textile/"
            %li= link_to "Warehouse and Logistics", "http://www.mastermover.com/uk/casestudy/warehouse/"
        
        %li= link_to "Healthcare", "http://www.mastermover.com/uk/casestudy/healthcare/"
        %li= link_to "Food and Beverages", "http://www.mastermover.com/uk/casestudy/food_beverage/"
        %li= link_to "Retail and Logistics", "http://www.mastermover.com/uk/casestudy/retail_logistics/"
          
    %li= link_to "Careers", '/'
    %li= link_to "About Us", '/'
    %li= link_to "News", '/'
    %li= link_to "Contact", '/'

  